In [1]:
import pandas as pd
import numpy as np

In [4]:
# Por objetivos de aprendizaje, trabajamos con el master en CSV (tipo de archivo de texto)
url1 = "/home/daniboi/Documents/02_proj/01_dataprojects/ds_project/da_suicidio/master.csv"
df = pd.read_csv(url1)
# y en HTML (un enlace de una tabla en una pagina de internet)
url2 = 'https://en.wikipedia.org/wiki/Latin_America'
latamdf = pd.read_html(url2)[1] # El numero entre barras indica el indice de la tabla que buscamos extraer

In [5]:
# Eliminar columna con perdidas severas y columnas que no utilizaremos

# Alternativa 1: útil cuando los nombres son extensos o complicados, y puedes ubicar su posicion exacta
#latamdf.drop(latamdf.columns[[0,1,4,-2]], axis=1) 

# Alternativa 2: útil cuando los nombres son extensos o complicados, y no ubicas su posición exacta
col_to_drop = latamdf.columns[latamdf.columns.str.startswith(('F', 'Arm', 'N', 'T'))]
latamdf = latamdf.drop(col_to_drop, axis=1)
type(col_to_drop)

pandas.core.indexes.base.Index

In [5]:
# Modificar los nombres de columnas. Crear una lista con los nombres nuevos y otra con los antiguos, luego cruzarlos
new_col_names = ['country', 'capital', 'population', 'area', 'density', 'subregion']
old_col_names = latamdf.columns
latamdf = latamdf.rename(columns=dict(zip(old_col_names, new_col_names)))
latamdf.head()

     country           capital  population     area  density      subregion
0  Argentina      Buenos Aires    45276780  2780400       16  South America
1    Bolivia  Sucre and La Paz    12079472  1098581       11  South America
2     Brazil          Brasília   214326223  8514877       25  South America
3      Chile          Santiago    19493184   756102       26  South America
4   Colombia            Bogotá    51516562  1141748       45  South America

In [7]:
# Filtrar casos de df si los valores de "country" coinciden con los de "latamnom"
latamnom = latamdf['country'] 
sui_latam = df.query('country in @latamnom')
sui_latam.head()

In [ ]:
# Analizar el Peru de forma aislada segun las muestras por año
sui_peru = sui_latam.sort_values(by=['year','age'], ascending=True).loc[(sui_latam['country']=='Peru')]
# Obtener los valores únicos de la columna "country_year"
sui_peru["country_year"].unique()